<div class="widget-result-div">
  <h2>Widget</h2>

  <p *ngIf="!widgetExecutionErrorMessage && gridStackItems.length === 0">No widget to display</p>

  <p *ngIf="widgetExecutionErrorMessage">{{ widgetExecutionErrorMessage }}</p>

  <div *ngIf="gridOptions"
       class="grid-stack"
       [ngGrid]="gridOptions"
  >
    <suricate-dashboard-screen-widget
      *ngFor="let gridStackItem of gridStackItems"
      [projectWidget]="gridStackItem.payload"
      [gridStackItem]="gridStackItem"
    >
    </suricate-dashboard-screen-widget>
  </div>
</div>
