.widget-result-div {
  margin: 15px;

  h2, p {
    text-align: center;
  }

  .widget-execution-error {
    color: red;
    text-align: center;
  }
}

.grid-stack {
  overflow-x: hidden;

  .grid-placeholder {
    opacity: 0.2;
  }
}
