<div class="widget-result-div">
  <h2>Widget sandbox</h2>

  <p *ngIf="!widgetExecutionResult">No widget to display</p>

  <div *ngIf="widgetExecutionResult && widgetExecutionResult.widgetExecutionErrorMessage" class="widget-execution-error">
    <mat-icon>warning</mat-icon>
    <p>{{ widgetExecutionResult.widgetExecutionErrorMessage! }}</p>
  </div>

  <div
    *ngIf="gridOptions"
    class="grid-stack"
    [ngGrid]="gridOptions"
    (onResizeStop)="updateProjectWidgetsPosition()"
    (onDragStop)="updateProjectWidgetsPosition()"
  >
    <span #externalJsLibraries></span>

    <suricate-dashboard-screen-widget
      *ngFor="let gridStackItem of gridStackItems"
      [projectWidget]="gridStackItem.payload"
      [gridStackItem]="gridStackItem"
    >
    </suricate-dashboard-screen-widget>
  </div>
</div>
