<div
  class="widget mat-elevation-z4"
  [ngClass]="projectWidget?.technicalName + ' widget-1'"
  [ngGridItem]="gridStackItem"
  (onDragStop)="registerNewPosition($event)"
  (click)="preventDefault($event)"
>
  <suricate-spinner *ngIf="loading" color="accent"></suricate-spinner>

  <ng-container *ngIf="!loading">
    <!--------------------------------------------------->
    <!--                 WIDGET CSS                    -->
    <!--------------------------------------------------->
    <span [innerHTML]="'<style>' + projectWidget?.cssContent + '</style>' | safeHtml"> </span>

    <!--------------------------------------------------->
    <!--                 WIDGET HTML                   -->
    <!--------------------------------------------------->
    <div class="grid-stack-item-content">
      <div class="widget-html-content" widgetHtmlDirective [innerHTML]="projectWidget?.instantiateHtml! | safeHtml"></div>
    </div>
  </ng-container>
</div>
