<form [formGroup]="runWidgetForm" (ngSubmit)="runWidget()">
  <div class="widget-configuration">
    <h2>Widget configuration</h2>

    <mat-form-field appearance="fill">
      <mat-label>Widget path</mat-label>
      <input matInput formControlName="path" required (input)="getWidgetParameters($event)" />
      <mat-error *ngIf="checkError('path', 'required')">The widget path is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Previous execution data</mat-label>
      <input matInput formControlName="previousData" />
    </mat-form-field>

    <div class="run-widget-button-div">
      <button mat-stroked-button color="primary">Run widget</button>
    </div>
  </div>

  <div class="widget-parameters">
    <div>
      <h2>Widget parameters</h2>
      <button mat-stroked-button color="primary" type="button" (click)="getWidgetParameters()">Reload</button>
    </div>

    <p *ngIf="widgetParamsFormField.length === 0 && !onWidgetPathInputErrorMessage">No parameters to display</p>
    <p *ngIf="onWidgetPathInputErrorMessage" class="widget-path-error-message">{{ onWidgetPathInputErrorMessage }}</p>

    <div class="widget-parameters-fields" *ngFor="let widgetParameter of widgetParamsFormField">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [formControlName]="widgetParameter.name + '-name'" />
      </mat-form-field>

      <mat-form-field *ngIf="[dataType.NUMBER, dataType.TEXT, dataType.TEXTAREA, dataType.PASSWORD, dataType.COMBO, dataType.MULTIPLE].includes(widgetParameter.type)" appearance="fill">
        <mat-label>Value</mat-label>
        <input *ngIf="[dataType.NUMBER, dataType.TEXT, dataType.PASSWORD].includes(widgetParameter.type)" matInput [formControlName]="widgetParameter.name + '-value'"
               [required]="widgetParameter.required" [type]="widgetParameter.type.toLowerCase()"/>
        <textarea *ngIf="widgetParameter.type == dataType.TEXTAREA" matInput [formControlName]="widgetParameter.name + '-value'"
                  [required]="widgetParameter.required"
        ></textarea>
        <mat-select *ngIf="[dataType.COMBO, dataType.MULTIPLE].includes(widgetParameter.type)" [formControlName]="widgetParameter.name + '-value'"
                    [required]="widgetParameter.required">
          <mat-option *ngIf="!widgetParameter.required && widgetParameter.type == dataType.COMBO" [value]="">None</mat-option>
          <mat-option *ngFor="let possibleValue of widgetParameter.possibleValues" [value]="possibleValue.jsKey">
            {{ possibleValue.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-checkbox *ngIf="widgetParameter.type == dataType.BOOLEAN" [formControlName]="widgetParameter.name + '-value'"
                    [required]="widgetParameter.required">
      </mat-checkbox>

      <div *ngIf="widgetParameter.type == dataType.FILE" class="file-upload-wrapper">
        <button mat-raised-button type="button" color="primary" (click)="file.click()">
          <mat-icon>cloud_upload</mat-icon>
          <span> Upload</span>
        </button>

        <img *ngIf="imgBase64" [src]="imgBase64" alt="Uploaded file" />

        <div *ngIf="filename">
          {{ filename }}
        </div>

        <input #file type="file" (change)="onFileChange($event, widgetParameter)" />
      </div>
    </div>
  </div>
</form>
