.widget {
  background-color: transparent;

  &.moving {
    & {
      z-index: 1000;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }

    .issue {
      z-index: 1015;
    }

    .btn-widget {
      z-index: 1020;
    }
  }

  .btn-widget {
    & {
      position: absolute;
      background-color: rgba(66, 66, 66, 0.6);
      color: #cfd2da !important;
      border: none;
      cursor: pointer;
      z-index: 20;
    }

    &.btn-widget-delete {
      right: 0;
    }

    &.btn-widget-edit {
      right: 41px;
    }

    &.btn-widget-log {
      right: 82px;
    }

    .material-icons {
      font-size: 21px;
      color: #cfd2da !important;
    }
  }

  .issue {
    & {
      position: relative;
      width: -webkit-fill-available;
      width: -moz-available;
      z-index: 15;
      top: 0;
      font-size: 0.9em;
      display: flex;
      align-items: center;
      height: auto;
      padding: 5px;
    }

    &.execution-error {
      background-color: #b41e1ee0;
    }

    &.execution-warning {
      background-color: #e8af00db;
    }

    .text {
      color: #cfd2da;
      margin-left: 10px;
    }
  }

  .material-icons {
    margin-left: 5px;
  }

  .widget-html-content {
    height: 100%;
  }
}
